{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'herokuapp/style.css' %}">

<head>
    <ul class="topnav">
        <li><a class="logo" href="/" style="font-style: italic; font-size: small; color: #6e5533;">fitpic</a></li>
        <li><a href="/outfit">Get Outfit</a></li>
        <li><a href="/inventory">Inventory</a></li>
        <li class="right"><a href="http://toshinowo.co/">Dev's Page</a></li>
        <li class="right"><a href="/about">About</a></li>
    </ul>
</head>

<body>
<h3 style="margin-left: 15; margin-bottom: 0; text-align: center;">💧🥾💧</h3>
<h1 style="margin-left: 15; margin-top: 0; text-align: center;">Project Summary:</h1>


<p style="color: #880808; font-size: larger; font-style: italic; margin-left: 15; margin-bottom: 0;">A quick Rundown:</p>
<p style="background-color: #d2b48c; font-style: italic; margin-top: 0; padding-top: 5; padding-left: 15; padding-bottom: 5;">
    <span style="font-size: 20; font-style: italic; color: #fff; background-color: #000; text-align: center;">
        &nbsp;💧 fitpic Endoreses Personality&nbsp;&nbsp;
    </span>
    <br/><br/>
    <span style="font-size: 20; font-style: italic; color: #fff; background-color: #000; text-align: center;">
        &nbsp;💧 fitpic Stimulates Entropy&nbsp;&nbsp;
    </span>
    <br/><br/>
    <span style="font-size: 20; font-style: italic; color: #fff; background-color: #000; text-align: center;">
        &nbsp;💧 fitpic Promotes Sustainability&nbsp;&nbsp;
    </span>
    <br/>
    <span style="font-size: small; font-style: italic; color: #fff; background-color: #000; float: right; text-align: center;">
        &nbsp;&lt;in beta/>&nbsp;&nbsp;
    </span>
    <br/>
</p>

<h1 style="color: #000; background-color: #f8e4b8; font-style: italic; font-size: xx-large; text-align: center;">MORE COMING SOON...</h1><hr/>
<h1 style="color: #000; background-color: #f8e4b8; font-style: italic; font-size: xx-large; text-align: center;">MORE COMING SOON...</h1><hr/>
<h1 style="color: #000; background-color: #f8e4b8; font-style: italic; font-size: xx-large; text-align: center;">MORE COMING SOON...</h1><hr/>
<h1 style="color: #000; background-color: #f8e4b8; font-style: italic; font-size: xx-large; text-align: center;">MORE COMING SOON...</h1><hr/>
<h1 style="color: #000; background-color: #f8e4b8; font-style: italic; font-size: xx-large; text-align: center;">MORE COMING SOON...</h1><hr/>
<h1 style="color: #000; background-color: #f8e4b8; font-style: italic; font-size: xx-large; text-align: center;">MORE COMING SOON...</h1><hr/>

</body>