{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'herokuapp/style.css' %}">

<head>
    <ul class="topnav">
        <li><a class="logo" href="/" style="font-style: italic; font-size: small; color: #6e5533;">fitpic</a></li>
        <li><a href="/outfit">Get Outfit</a></li>
        <li><a href="/inventory">Inventory</a></li>
        <li class="right"><a href="http://toshinowo.co/">Dev's Page</a></li>
        <li class="right"><a href="/about">About</a></li>
    </ul>
</head>

<body>
<h3 style="margin-left: 15; margin-bottom: 0; text-align: center;">💧💧💧</h3>
<h1 style="font-size: xx-large; font-family: QuietStreets; font-style: italic; margin-left: 15; margin-top: 0; text-align: center;">fitpic</h1>
<h2 style="font-size: xx-large; margin-left: 15; margin-top: 0; text-align: center;">Welcome to fitpic, Your Virtual Wardrobe</h2>


<span style="color: #880808; font-size: larger; font-style: italic; margin-left: 15; margin-bottom: 0;">Look around. All in the name of Minimalist Drip.</span>
<table style="background-color: #d2b48c; width: 100%;">
    <tr style="color: #fff; background-color: #d2b48c; font-size: 65px;">
      <th style="width:20%"><a href="" style="color: #d2b48c; font-size: 65px;">💧</a></th>
      <th style="width:20%"><a href="outfit" style="color: #d2b48c; font-size: 65px;">🧥</a></th>
      <th style="width:20%"><a href="inventory" style="color: #d2b48c; font-size: 65px;">🎒</a></th>
      <th style="width:20%"><a href="about" style="color: #d2b48c; font-size: 65px;">🥾</a></th>
      <th style="width:20%"><a href="http://toshinowo.co/" style="color: #d2b48c; font-size: 65px;">💻</a></th>
    </tr>
</table>

<h2 style="color: #000; background-color: #f8e4b8; padding-left: 15;">
    <p style="color: #000; background-color: #f8e4b8; font-size: xx-large;">SUSTAINABLE CLOTHING SOURCES:</p>
    <a href="https://wearpact.com/" style="color: #fff; background-color: #000; font-size: 15px;">Pact<br/><br/></a>
    <a href="https://www.livefashionable.com/" style="color: #fff; background-color: #000; font-size: 15px;">ABLE<br/><br/></a>
    <a href="https://www.tentree.com/" style="color: #fff; background-color: #000; font-size: 15px;">tentree<br/><br/></a>
    <a href="https://www.bodenusa.com/" style="color: #fff; background-color: #000; font-size: 15px;">Boden<br/><br/></a>
    <a href="https://us.kotn.com/" style="color: #fff; background-color: #000; font-size: 15px;">Kotn<br/><br/></a>
    <a href="https://www.alternativeapparel.com/" style="color: #fff; background-color: #000; font-size: 15px;">Alternative Apparel<br/><br/></a>
    <a href="https://www.wearethought.com/" style="color: #fff; background-color: #000; font-size: 15px;">Thought Clothing<br/><br/></a>
    <a href="https://www.outerknown.com/" style="color: #fff; background-color: #000; font-size: 15px;">Outerknown<br/><br/></a>
    <a href="https://www.thereformation.com/" style="color: #fff; background-color: #000; font-size: 15px;">Reformation<br/><br/></a>
    <a href="https://www.buckmason.com/" style="color: #fff; background-color: #000; font-size: 15px;">Buck Mason<br/><br/></a>
</h2><hr/>

<h1 style="color: #000; background-color: #f8e4b8; font-style: italic; font-size: xx-large; text-align: center;">MORE COMING SOON...</h1><hr/>
<h1 style="color: #000; background-color: #f8e4b8; font-style: italic; font-size: xx-large; text-align: center;">MORE COMING SOON...</h1><hr/>
<h1 style="color: #000; background-color: #f8e4b8; font-style: italic; font-size: xx-large; text-align: center;">MORE COMING SOON...</h1><hr/>
<h1 style="color: #000; background-color: #f8e4b8; font-style: italic; font-size: xx-large; text-align: center;">MORE COMING SOON...</h1><hr/>
<h1 style="color: #000; background-color: #f8e4b8; font-style: italic; font-size: xx-large; text-align: center;">MORE COMING SOON...</h1><hr/>

</body>