{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'herokuapp/style.css' %}">

<head>
    <ul class="topnav">
        <li><a class="logo" href="/" style="font-style: italic; font-size: small; color: #6e5533;">fitpic</a></li>
        <li><a href="/outfit">Get Outfit</a></li>
        <li><a href="/inventory">Inventory</a></li>
        <li class="right"><a href="http://toshinowo.co/">Dev's Page</a></li>
        <li class="right"><a href="/about">About</a></li>
    </ul>
</head>

<body>
<h3 style="margin-left: 15; margin-bottom: 0; text-align: center;">💧🧥💧</h3>
<h1 style="margin-left: 15; margin-top: 0; text-align: center;">Novel Outfit:</h1>


<span style="color: #880808; font-size: larger; font-style: italic; margin-left: 15; margin-bottom: 0;">Here's a Random Fit:</span>
<table style="background-color: #d2b48c; width: 100%;">
    <tr style="color: #fff; background-color: #000; font-size: larger;">
      <th style="border: 10px solid #d2b48c; width:20%"><p style="font-size:xx-small; background-color: #fff;">🦺</p>Top</th>
      <th style="border: 10px solid #d2b48c; width:20%"><p style="font-size:xx-small; background-color: #fff;">👖</p>Bottom</th>
      <th style="border: 10px solid #d2b48c; width:20%"><p style="font-size:xx-small; background-color: #fff;">👟</p>Footgear</th>
      <th style="border: 10px solid #d2b48c; width:20%"><p style="font-size:xx-small; background-color: #fff;">🎩</p>Headgar</th>
      <th style="border: 10px solid #d2b48c; width:20%"><p style="font-size:xx-small; background-color: #fff;">💍</p>Accessories</th>
    </tr>
    <tr>
      <td style="border: 10px solid #d2b48c; width:20%"><p style="font-size: medium; font-style: italic; color: #fff; background-color: #000; text-align: center;">&nbsp;{{tops}}&nbsp;&nbsp;</p></td>
      <td style="border: 10px solid #d2b48c; width:20%"><p style="font-size: medium; font-style: italic; color: #fff; background-color: #000; text-align: center;">&nbsp;{{bottoms}}&nbsp;&nbsp;</p></td>
      <td style="border: 10px solid #d2b48c; width:20%"><p style="font-size: medium; font-style: italic; color: #fff; background-color: #000; text-align: center;">&nbsp;{{footgear}}&nbsp;&nbsp;</p></td>
      <td style="border: 10px solid #d2b48c; width:20%"><p style="font-size: medium; font-style: italic; color: #fff; background-color: #000; text-align: center;">&nbsp;{{headgear}}&nbsp;&nbsp;</p></td>
      <td style="border: 10px solid #d2b48c; width:20%"><p style="font-size: medium; font-style: italic; color: #fff; background-color: #000; text-align: center;">&nbsp;{{accessories}}&nbsp;&nbsp;</p></td>
    </tr>
</table>

<h1 style="color: #000; background-color: #f8e4b8; font-style: italic; font-size: xx-large; text-align: center;">MORE COMING SOON...</h1><hr/>
<h1 style="color: #000; background-color: #f8e4b8; font-style: italic; font-size: xx-large; text-align: center;">MORE COMING SOON...</h1><hr/>
<h1 style="color: #000; background-color: #f8e4b8; font-style: italic; font-size: xx-large; text-align: center;">MORE COMING SOON...</h1><hr/>
<h1 style="color: #000; background-color: #f8e4b8; font-style: italic; font-size: xx-large; text-align: center;">MORE COMING SOON...</h1><hr/>
<h1 style="color: #000; background-color: #f8e4b8; font-style: italic; font-size: xx-large; text-align: center;">MORE COMING SOON...</h1><hr/>
<h1 style="color: #000; background-color: #f8e4b8; font-style: italic; font-size: xx-large; text-align: center;">MORE COMING SOON...</h1><hr/>



</body>