@font-face {
  font-family: QuietStreets;
  src: url(QuietStreets.ttf);
}

@font-face {
  font-family: KenyanCoffee;
  src: url(KenyanCoffee.ttf);
}

head {
  font-family: QuietStreets;
}

body {
  margin: 0;
  font-family: KenyanCoffee;
  background: linear-gradient(#ffffff, #f0f0f0);
}

h1 {
  text-shadow: 0 0 10px #eee;
}

h3 {
  text-shadow: 0 0 10px #eee;
}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: #d2b48c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul.topnav li a:hover:not(.logo) {background-color: #222;}

ul.topnav li a.logo {background-color: #f8e4b8; font-family: QuietStreets;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px) {
  ul.topnav li.right, 
  ul.topnav li {float: none;}
}

.button {
  background-color: #888;
  border: none;
  border-radius: 10%;
  color: white;
  padding: 5 20;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: -6 12;
  transition-duration: 0.4s;
  cursor: pointer;
}

.update {
  background-color: #f8e4b8;
  color: #d2b48c; 
  border: 2px solid #d2b48c;
}

.update:hover {
  background-color: #d2b48c;
  color: white;
}

.delete {
  background-color: #f8e4b8;
  color: #fa8072; 
  border: 2px solid #fa8072;
}

.delete:hover {
  background-color: #fa8072;
  color: white;
}